* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}


body {
  font-family: cursive, sans-serif;
  display: flex;
  justify-content: center;
  color: var(--text);
  background: var(--app-bg);
  line-height: 1.5;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

.notesapp {
  width: 100vw;
  min-width: 24rem;
  height: 100vh;
  padding: 3rem 4rem;
  overflow-y: scroll;
  position: relative;
}

@media screen and (min-width:800px) {
  .notesapp {
    width: 50rem;
  }
}

@media screen and (max-width:600px) {
  .notesapp {
    padding: 2rem;
  }
}